<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DeepPearl.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B1C10C2C2DA51CFC00421E2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1C10C392DA51CFE00421E2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1C10C432DA51CFE00421E2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
